<!-- Weather Widget starts here -->
<div class="w3ls-weather">
  <div class="weather1">
    <h3 id="HaNoi-name">...</h3>
    <h4 id="HaNoi-temp">...</h4>
    <canvas id="rain" width="50" height="50"></canvas>
    <h5 id="HaNoi-day">...</h5>

  </div>
  <div class="weather2">
    <div class="layer">
      <h3 id="DaNang-name">...</h3>
      <h4 id="DaNang-temp">...</h4>
      <canvas id="snow" width="50" height="50"></canvas>
      <h5 id="DaNang-day">...</h5>

    </div>
  </div>
  <div class="weather3">
    <h3 id="ThanhPhoHCM-name">...</h3>
    <h4 id="ThanhPhoHCM-temp">...</h4>
    <canvas id="partly-cloudy-day" width="50" height="50"></canvas>
    <h5 id="ThanhPhoHCM-day">...</h5>

  </div>
  <div class="clear"></div>
</div>
<!-- //Weather Widget ends here -->

<script>
  require(['jquery', 'skycons'], function($) {
    var icons = new Skycons({
        "color": "#FFD700"
      }),
      list = [
        "clear-day"
      ],
      i;

    for (i = list.length; i--;)
      icons.set(list[i], list[i]);

    icons.play();

    var icons = new Skycons({
        "color": "#f5f5f5"
      }),
      list = [
        "clear-night", "partly-cloudy-day",
        "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
        "fog"
      ],
      i;

    for (i = list.length; i--;)
      icons.set(list[i], list[i]);

    icons.play();

    let d = new Date();
    console.log(d.toUTCString());
    // Wed, 22 Dec 2021 00:31:25 GMT

    let year = d.getFullYear();
    let month = d.getMonth() + 1;
    let day = d.getDate();
    let dayofweek = d.getDay();

    const dayname = ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'];
    const abc = dayname[dayofweek] + ' ngày ' + day + '/' + month + '/' + year;

    // T4 ngày 22/12/2021
    const apis = [{
        name: "HaNoi",
        city: "Hà Nội",
        api: "https://openweathermap.org/data/2.5/weather?id=1581130&appid=439d4b804bc8187953eb36d2a8c26a02",
      },
      {
        name: "DaNang",
        city: "Đà Nẵng",
        api: "https://openweathermap.org/data/2.5/weather?id=1583992&appid=439d4b804bc8187953eb36d2a8c26a02",
      },
      {
        name: "ThanhPhoHCM",
        city: "Tp Hồ Chí Minh",
        api: "https://openweathermap.org/data/2.5/weather?id=1566083&appid=439d4b804bc8187953eb36d2a8c26a02",
      },
    ];
    for (let i = 0; i < apis.length; i++) {
      document.getElementById(`${apis[i].name}-name`).innerHTML = apis[i].city;
      document.getElementById(`${apis[i].name}-day`).innerHTML = abc;
      fetch(
          apis[i].api
        )
        .then((res) => res.json())
        .then((data) => {
          document.getElementById(`${apis[i].name}-temp`).innerHTML = Math.round(data.main.temp) + '°C';
          console.log(data);
        });
    }
  })
</script>